/* .row {
	justify-content: center;
	align-items: center;
}

.container,
.row .sections__middle {
	height: 70vh;
}

.customize__sizes {
	position: absolute;
	top: 130px;
}

.customize__quantity {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 450px;
}

.sizeButton {
	display: flex;
}

.customize__quantity p {
	margin-left: 2em;
	margin-top: 0.5em;
	border: 1.5px solid black;
	padding: 0.5em 0.5em;
	border-radius: 25%;
}

.addButton {
	margin-top: 20px;
} */
