.customize__sizes {
	position: absolute;
	top: 130px;
}

.customize__quantity {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 480px;
}

.customize__quantity h3 {
	padding-bottom: 0;
}

.sizeButton {
	display: flex;
}

.customize__quantity p {
	margin-left: 2em;
	margin-top: 0.5em;
	border: 1.5px solid black;
	padding: 0.5em 0.5em;
	border-radius: 25%;
}

.addButton {
	margin-top: 20px;
}

.addButton:hover {
	color: white !important;
}

#testimonials {
	text-align: center;
	background-color: #00cccc52;
	color: #1b1818e3;
}

.testimonial-text {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.5;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

.carousel-item {
	padding: 7% 15%;
}
